
html, body {
  width: 100%;
  height: 100%;
}

#wrapper {
  width: 80%;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
/*  border: 1px solid black; */
}
.answer-container {
	margin-top: 20px;
}

#buttons {
  margin-top: 50px;
  margin-left: 0px;
}

#sterge {
  margin-top: 100px;
}

#showBtn,
#nextBtn,
#backBtn {
	width: 25%;
	height: 35px;
	margin-right: 5%;
}








/*  */
